.columns.block {
  --gap: 24px;
  --padding: 10px;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  border: var(--border);
  box-shadow:var(--box-shadow);
  border-radius: var(--border-radius);
  background-color: #f6f6f6;
}

.columns.block > div {
  display: flex;
  flex-direction: column;
}

.columns.block img {
  width: 100%;
}

.columns.block > div > div {
  order: 1;
  padding: var(--padding);
}

.columns.block > div > .columns-img-col {
  order: 0;
}

.columns.block > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns.block > div {
    align-items: stretch;
    flex-direction: unset;
    gap: var(--gap);
  }

  .columns.block > div > div {
    flex: 1;
    order: unset;
  }
}
.individual-card div{
  box-shadow:0 1px 4px rgba(128, 128, 128, 0.3);
}
.individual-card div:hover{
  box-shadow:0 2px 6px rgba(128, 128, 128, 0.5);
}
