/* Base Styles
footer {
  padding: 2rem 32px;
  background-color: var(--color-black-100);
  font: var(--type-body-2-default-font);
  letter-spacing: var(--type-body-2-default-letter-spacing);
  color: var(--color-neutral-50);
}

footer .footer {
  max-width: 1300px;
  margin: auto;
  height: auto;
  padding: 4rem 0;
}

footer .footer p {
  margin: 0;
  font-size: var(--body-font-size-xxs);
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.8px;
  max-width: 525px;
}

footer a {
  color: var(--color-neutral-50) !important;
}

footer .wrapper {
  display: flex;
  align-items: flex-start;
}

footer .wrapper .section.brand-logo {
  flex: 1;
}

footer .wrapper .section.brand-logo img {
  width: 42px;
  height: auto;
}

footer .wrapper .section.site-links {
  display: flex;
  flex: 9;
  width: 100%;
}

footer .wrapper .section.site-links .default-content-wrapper {
  margin: 0 0 auto;
}

footer .wrapper .section.site-links .default-content-wrapper ol,
footer .wrapper .section.social-media .default-content-wrapper ol {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

footer .wrapper .section.site-links .default-content-wrapper ol li a {
  font-size: var(--body-font-size-s);
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.96px;
  padding: 1em 1.3em;
}

footer .wrapper .section.site-links .default-content-wrapper ol li:first-of-type a {
  padding-left: 0;
}

/* Media Queries */
/* @media (width <= 900px) {
  footer {
    padding: 4rem 7rem;
  }

  footer .footer {
    padding: 1rem 0;
  }

  footer .footer p {
    max-width: 100%;
  }

  footer .wrapper {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
  }

  footer .wrapper .section.brand-logo {
    flex: unset;
  }

  footer .wrapper .section.site-links {
    flex: unset;
  }

  footer .wrapper .section.site-links .default-content-wrapper {
    margin: 0;
  }

  footer .wrapper .section.site-links .default-content-wrapper ol {
    display: none;
  }

  footer .wrapper .section.social-media {
    flex: unset;
    margin-left: auto;
    margin-top: 2rem;
  }

  footer .wrapper .section.social-media img {
    padding: 0.5em 0.5em 0.2em;
  } */ 


  /* custom footer */
  .custom-footer-wrapper{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-text-size-adjust: 100%;
    color-scheme: light;
    line-height: 1.1;
    font-family: Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    box-sizing: inherit;
    background: #333;
    position: relative;
    z-index: 50;
    background-color: #ffffff;
    padding: 20px 0;
    font-size: 13px;
    color: #797d7b;
    box-shadow: 0 -1px 2px rgba(71, 73, 72, 0.19999999999999996);
  }
  .custom-footer-wrapper .container{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-text-size-adjust: 100%;
    color-scheme: light;
    line-height: 1.1;
    font-family: Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 13px;
    color: #797d7b;
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    margin-right: auto;
    margin-left: auto;
    width: 1170px;
  }
  .custom-footer-wrapper .container .row{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-text-size-adjust: 100%;
    color-scheme: light;
    line-height: 1.1;
    font-family: Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 13px;
    color: #797d7b;
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    margin-left: -30px;
    display: flex;
    gap:70px;

  }
  .custom-footer-wrapper > div > div > div:nth-child(1){
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-text-size-adjust: 100%;
    color-scheme: light;
    line-height: 1.1;
    font-family: Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 13px;
    color: #797d7b;
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    float: left;
    min-height: 1px;
    margin-left: 25px;
    width: 170px;
  }
  .span2 h6{
    margin-left: 34px;
  }
  .categories{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-text-size-adjust: 100%;
    color-scheme: light;
    line-height: 1.1;
    font-family: Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 13px;
    color: #797d7b;
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  .links{
    list-style: none;
  }
  .links li a , .links a{
    font-size: larger;
    color: #797d7b;
    text-decoration: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  .links li a:hover, .links a:hover{
    color: #333;
    text-decoration: underline;
  }
  .span4{
    padding-left: 100px;
  }
  .input-appned{
    display: flex;
    width: 100%;
  }
  .input-append .span3{
    flex: 2.1;
  }
  .input-append button{
    background-color: red;
    color: white;
    font-weight: 500;
  }